// colors

$event-color-1: rgba(240, 85, 85, 0.979); // Smalt Blue 
$event-color-2: rgb(81, 143, 179); // Martinique
$event-color-3: rgba(255, 126, 82, 0.918); // Edward
$event-color-4: rgba(47, 192, 129, 0.966); // Rajah

$text-color: #222222;
$border-color: #EAEAEA;
$bg-color: white;
$link-color: $event-color-3;

// fonts 

$primary-font: 'Source Sans Pro', sans-serif;

//colum number

$columns-number: 5;
$row-height: 50px;